@charset "utf-8";

/*　共通部分　---- */
html {
  font-size: 100%;
}
body {
  font-family: "游ゴシック Medium", "YuGothic", "游ゴシック体", "sans-serif";
  color: rgb(28, 28, 28)
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
/*  サーチボックス---*/
.search_container{
  position: relative;
  box-sizing: border-box;
  border: 2px solid #d5d2d0;
  padding: 10px;
  height: 40px;
  width: 100%;
  overflow: hidden;
}
.search_container input[type="text"]{
  border: none;
  height: 1.0em;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_container input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  border: none;
  background: #d5d2d0;
  color: #fff;
  position: absolute;
  width: 3.5em;
  height: 3.5em;
  right:0px;
  top: -5px;
  outline : none;
}
/*  ↑サーチボックスここまで---*/
/*  ↓ヘッダーここから---*/
.header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 1130px;
  padding: 1%;
}
.header-1 {
 background-color: #a08b76;
 color: rgb(245, 245, 245);
 text-align: center;
 font-size: 12px;
 width: 100%;
 padding: 6px;
 box-sizing: border-box;
}
.logo {
  width: 250px;
  margin: 15px;
}
.header-right {
  display: flex;
  flex-flow: column;
}
.header-infoicon {
  text-align: right;
}
.header-infoicon a {
  color:black;
}
.header-icon {
  margin-left: 25px;
}
.header-info {
  font-size: 12px;
  margin-right: 20px;
  padding-bottom:5px;
  border-bottom:#a08b76 1px dotted;
}
.header-icon, .header-info {
vertical-align: middle;
}
.main-nav {
  display: flex;
  height: 100%;
}
/*  ↓ヘッダー２ここから---*/
.header-2 {
  margin-top: 20px;
  font-size: 13px;
}
.header-2 ul {
  list-style: none;
}
.main-nav_info {
  padding: 20px 40px 0 0;
}
.main-nav li {
  position: relative;
}
.main-nav li:nth-child( -n + 5 ) {
  margin-top: 10px;
}
.main-nav li a:nth-child( -n + 5 ) {
  color: black;
}
/*  ↓ヘッダー３ここから---*/
.header-3 {
  background-color: #f2f0ed;
  padding: 10px;
}
.sub-nav {
  display: flex;
  font-size: 13px;
  list-style: none;
  justify-content: center;
}
.sub-nav li {
  background-color: #fff;
  border-radius: 20px;
  padding: 8px;
}
.sub-nav li:nth-child( n + 2 ) {
  margin-left: 10px;
}
.sub-nav li a {
  color :black;
}

/*  ↓メディアクエリ---*/
@media screen and (min-width: 769px){
.header-1_sp {
display: none!important;
}
}
@media screen and (max-width: 768px){
  .header-1_pc {
  display: none!important;
  }
  }