@charset "utf-8";

/*　共通部分　---- */
html {
  font-size: 100%;
}
body {
  font-family: "游ゴシック Medium", "YuGothic", "游ゴシック体", "sans-serif";
  color: #333;
  background-color: #fff;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
img {
  max-width: 100%;
}
h1 {
 padding: 15px 0 0 15px;
}
h2 {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  padding: 40px 2% 60px 2%;
  line-height: 1.8rem;
}
.h2-title {
  color: #fff;
}
.h2-title, .h2-title2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.h2-title::before, .h2-title::after {
  content: "";
  border-bottom: 1px solid #fff;
  width: 30%;
}
.h2-title2::before, .h2-title2::after {
  content: "";
  border-bottom: 1px solid #000;
  width: 30%;
}
.inner {
  max-width: 1000px;
  padding: 0 3%;
  margin: 0 auto;
  width: 100%;
}


/*　header　---- */
.aside {
  width: 100%;
  display: flex;
  position: fixed;
  padding: 20px;
  background-color: #fff;
  z-index: 9999;
}
.header-img {
  width: 100%;
  max-width: 180px;
}
/*　ヘッダーメニュー　---- */
#gnav-content {
  position: fixed;
  top:0;
  left: -100%;
  z-index: 100;
  width: 100%;
  max-width: 240px;
  transition: 0.3s;
}

.main-nav {
  background: #fff;
  padding: 0;
  height: 100vh;
}
.main-nav li {
  display: block;
}
.main-nav li a {
  display: block;
  color: #222;
  text-decoration: none;
}
.main-list {
  padding: 20px 0 0 30px;
}
.sub-list {
  padding: 20px 0 0 30px;
}
.main-list li{
  padding: 5px 0 5px 0;
}
.sub-list li{
  padding: 10px 0 0 0;
}

#open {
  display: block;
  width: 50px;
  height: 40px;
  position: fixed;
  top: 30px;
  right: 40px;
  z-index: 90;
  
}
#open span, #open::before, #open::after {
  content: '';
    display: block;
    height: 2px;
    width: 35px;
    background-color: #222;
    position: absolute;
}
#open span {
  top: 50%;
}
#open::before {
  top: 20%;
}
#open::after {
  top: 80%;
}
#gnav-input:checked ~ #open span {
  background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#gnav-input:checked ~ #open::before {
  top:50%;
  background-color: #fff;
  transform: rotate(45deg);
  transition: 0.3s;
}
#gnav-input:checked ~ #open::after {
  top:50%;
  background-color: #fff;
  transform: rotate(-45deg);
  transition: 0.3s;
}
#gnav-input:checked ~ #gnav-black {
  display: block;
}
#gnav-input:checked ~ #gnav-content {
  left: 0;
}
#gnav-black {
  display: none;
  position: fixed;
  z-index: 80;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.7);
}

/*　チェックボックスを非表示に　---- */
.gnav-hidden {
  display: none;
}
/*　メイン画像　---- */
.bg {
  background-position: top;
  background-repeat: no-repeat;
  height: 100vh;
}
.bg-img {
  position: fixed;
  height: 600px;
  object-fit: cover;
  z-index: -10;
}

/*　プロジェクト　---- */
.section-project {
  background: linear-gradient(to bottom, rgba(85, 85, 85, 0), rgba(53, 53, 53, 1));
  }
  figure {
    position:relative;
    display:inline-block;
    line-height:0;
    overflow:hidden;
}
figure::after {
    content:"";
    position:absolute;
    top:0; right:0; bottom:31px; left:0;
    box-shadow: inset 0px -5px 10px 0px rgba(0, 0, 0, 0.3);
  }
  .project-img {
    border: 1px solid #fff;
    margin-bottom: 30px;
  }
  .wrapper {
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
  }
  .feature {
    color: #fff;
    text-align: center;
    width: 28%;
  }
  .circle {
    margin: 0 auto 10px auto;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 150px;
  height: 150px;
  line-height: 150px;
  }
  .feature-title {
    font-weight: 600;
  }
  .section-process, .section-inquiry {
    background-color: #fff;
  }
  /*　プロセス　---- */
  .section-process p {
    margin-bottom: 20px;
  }
  .process-list ol{
    list-style: none;
    text-align: center;
    position: relative;
  }
  .process-list ol::after {
    content:"";
    position: absolute;
    background-color: #f7de1b;
    width: 30px;
    height: 600px;
    top: 10px;
    left:0;
    right: 0;
    margin:auto;
  }
  .process-list ol li {
    margin: auto;
    background-color: #444;
    color: #fff;
    margin-bottom: 50px;
    width: 300px;
    height: 100px;
    line-height: 100px;
    position: relative;
    z-index: 100;
  }
  .process-list ol li::after {
    content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 100px;
  left: 0;
  border-style: solid;
  border-color: #444 transparent transparent transparent;
  border-width: 30px 150px 0 150px;
  z-index: 1;
  }
/*　ディティール　---- */
.detail {
  padding: 50px 0 50px 0;
}
dl {
  margin-left: 50px;
}
dt {
  position: relative;
  font-size: 21px;
  border-bottom: #000 1px solid;
  padding: 10px 0; 
}
dd {
  padding: 10px 0 20px 0;
}
.circle2 {
    width: 30px;
    height: 30px; 
    background-color: #444;
    color: #fff;
    border-radius: 50%; 
    text-align: center;/* ←文字を左右に中央揃え */
    line-height: 30px;/* ←文字を上下に中央揃え */
    position: absolute;
    left: -40px;
}
/*　問い合わせ　---- */
.section-inquiry {
  padding-bottom: 150px;
}
.inquiry a {
  margin: 15px auto;
  display: block;
  width: 250px;
  height: 250px;
  border: #000 1px solid;
  text-align: center;
  padding: 50px 0;
  position: relative;
}

.inquiry a:after{
  content: "";
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 0;
  height: 0;
  margin: auto;
  border-left: 30px solid transparent;
  border-bottom: 30px solid #222;
  z-index: 10;
}

.inquiry img {
  margin-top: 25px;
}
.inquiry p {
  font-weight: 600;
}
/*　フッター　---- */
footer {
  background-color: #121212;
  margin: 0 auto;
  width: 100%;
  padding: 50px 5% 5px 5%;
}
footer p {
  margin: 0 auto;
  color: #fff;
  text-align: center;
  max-width: 700px;
}
.footer-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}
.footer-list ul li {
  margin: 5px 0;
  padding: 0 10px;
  border-left: #fff 1px solid;
}
.footer-list ul li:first-of-type {
  border-left: none;
}
.footer-list ul li a{
  color: #fff;
}
/*　レスポンシブ　---- */
@media screen and (min-width: 750px){
  .aside {
    height: 100vh;
    max-width: 280px; 
    flex-direction: column;
    overflow-y: auto;
  }
  .aside {
    padding: 50px 10px 0 10px;
  }
#gnav-content {
  position:static;
}
#open {
  display: none;
}
main {
  margin-left: 280px;
}
.bg {
  height: 80vh;
}
.bg-img {
  height: 100%;
}
.projectimg {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
figure {
  width: 45%;
}
.circle {
width: 200px;
height: 200px;
line-height: 200px;
}
.feature {
  width: 100%;
}
.process-block {
  display: flex;
  justify-content: space-between;
}
.detail {
  padding: 0;
  width: 70%;
}
.process-list {
  margin-top: 30px;
}
.process-list ol li {
  margin-bottom: 70px;
  width: 200px;
  height: 80px;
  line-height: 80px;
}
.process-list ol li::after {
top: 80px;
left: 0;
border-width: 30px 100px 0 100px;
}
dt:first-of-type {
    margin-top: 20px;
  }
.inquiry {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.inquiry img {
  margin-top: 0;
}
.inquiry a {
  width: 200px;
  height: 150px;
  margin-left: 10px;
  padding: 20px 0;
}
.inquiry a:first-of-type {
  margin-left: 0;
}
footer {
  width: calc(100% - 280px);
  margin-left: 280px;
  padding:50px 0 5px 0;
}

}
@media screen and (max-width: 1050px){
  dd {
    padding: 10px 0 5px 0;
    font-size: 14px;
    line-height: 1.3rem;
  }
dt {
  margin-top: 20px;
    font-size: 18px;
    padding: 5px 0; 
  }
}
@media screen and (max-width: 980px){
  .circle {
    width: 165px;
  height: 165px;
  line-height: 165px;
  }
}
@media screen and (max-width: 850px){
  .circle {
    width: 150px;
  height: 150px;
  line-height: 150px;
  }
}
@media screen and (max-width: 550px){
  .circle {
    width: 100px;
  height: 100px;
  line-height: 100px;
  }
}
  @media screen and (max-width: 350px){
    .circle {
      width: 80px;
    height: 80px;
    line-height: 80px;
    }
  }