@charset "utf-8";

/*　共通部分　---- */
html {
  font-size: 100%;
}
body {
  font-family: "游ゴシック Medium", "YuGothic", "游ゴシック体", "sans-serif";
  color: #333;
  background-color: #fff;
  box-sizing: border-box;
}
section {
  margin-bottom: 200px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
img {
  max-width: 100%;
}
h2 {
  font-size: 55px;
  font-weight: 1000;
  color: #fff;
  text-align: center;
}
.h3-title {
  text-align: center;
  margin: 80px 0 60px 0;
}
h3 {
  display: inline-block;
  font-size: 30px;
  font-weight: 1000;
  border-bottom: 8px solid #e03130;
}
.inner {
  margin: 0 auto;
  padding: 0 3%;
  width: 100%;
 max-width: 700px;
}


/*　header　---- */
#home {
  background-image: url(../img/mainvisual-pc.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  
}
.header {
  margin-bottom: 25px;
}
.header-title {
  transform: translateY(230%) translateX(0%);
}
.header h1 {
 color: #f5f5f5;
 font-size: 80px;
 text-align: center;
 
}
/*　ヘッダーメニュー　---- */
.main-nav {
  display: flex;
  list-style: none;
  justify-content: right;
  margin: 0 40px 0 0;
  padding-top: 50px;
}
.main-nav li {
  margin-left: 35px;
}
.main-nav li a {
  color: #f5f5f5;
  font-weight: 800;
  text-shadow: 1px 2px 3px #808080;
}

/*　メニュー　---- */
.menu-bg {
  background-image: url(../img/menu.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.menu-list dl {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }
dt {
  width:85%;
  margin-bottom: 60px;
  border-bottom: 1px dotted #000;
}
dd {
  width:9%;
  margin-bottom: 60px;
  text-align: right;
}

/*　アバウト　---- */
.about-bg {
  background-image: url(../img/about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.about-text ul li {
  margin-bottom: 60px;
  line-height: 2.5rem;
}
.btn {
  text-align: center;
}
.read-btn {
  position: relative;
  width: 200px;
  height: 100px;
}
.read-btn::before {
	content: '';
	display: block;
	position: absolute;
	left: -40px; /* 位置調整 */
	top: -20px; /* 下線の上下位置調整 */
	width: 2px; /* 下線の幅 */
	height: 23px; /* 下線の太さ */
	background-color: #e03130; /* 下線の色 */
}
.read-btn::after {
	content: '';
	display: block;
	position: absolute;
	left: -40px; /* 位置調整 */
	top: -20px; /* 下線の上下位置調整 */
	width: 40px; /* 下線の幅 */
	height: 2px; /* 下線の太さ */
	background-color: #e03130; /* 下線の色 */
}
span::before {
	content: '';
	display: block;
	position: absolute;
	left: 110px; /* 位置調整 */
	bottom: -20px; /* 下線の上下位置調整 */
	width: 2px; /* 下線の幅 */
	height: 23px; /* 下線の太さ */
	background-color: #e03130; /* 下線の色 */
}
span::after {
	content: '';
	display: block;
	position: absolute;
	left: 70px; /* 位置調整 */
	bottom: -20px; /* 下線の上下位置調整 */
	width: 40px; /* 下線の幅 */
	height: 2px; /* 下線の太さ */
	background-color: #e03130; /* 下線の色 */
}
/*　ロケーション　---- */
#section-location {
 margin-bottom: 150px;
}
.location-bg {
  background-image: url(../img/location.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.location-map {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
iframe {
  width: 100%;
  margin-bottom: 60px;
}
#section-location p {
  text-align: 2.0rem;
  padding-bottom: 20px;
}
/*　フッター　---- */
.footer {
  text-align: center;
  padding: 10px 0;
}

@media screen and (min-width: 750px){
  .header {
    padding: 0 3%;
  }
.menu-bg, .about-bg, .location-bg {
  height: 300px;
  margin: 0 3%;
}
.menu-coffee, .menu-food, .menu-other {
  margin: 20px 0;
}
.menu-other {
 margin: 110px 0 20px 0;
}
h2 {
  transform: translateY(120%) translateX(0%);
}
.menu-list {
  display: flex;
  max-width: 800px;
  margin-top: 60px;
}
.menu-list_coffee {
  width: 50%;
  padding-right: 30px;
  border-right: 1px solid #000;
}
.menu-list_foodoth {
  width: 50%;
  padding-left: 30px;
}
dt {
  padding-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dotted #000;
}
dd {
  padding-top: 10px;
  margin-bottom: 10px;
}
.about-text {
  max-width: 800px;
}
.about-text ul {
  display: flex;
  flex-wrap: wrap;
}
.about-text ul li {
  width: 50%;
  line-height: 1.8rem;
  margin-bottom: 40px;
  padding: 15px;
}
.access {
max-width: 800px;
}
}